.App {
  font-family: sans-serif;
  text-align: center;
  padding: 40px;
}

.ant-input-wrapper.ant-input-group {
  margin-bottom: 20px;
}

.ant-avatar {
  width: 52px;
  height: 52px;
}

.ant-list-item {
  text-align: left;
}
